.home {
  display: flex;
  // width: 1200px;

  // 二级页面样式
  .home-nav {
    padding: 20px;
    margin-left: 20px;
    border-left: 1px solid #ccc;
    flex: 1;
    overflow: hidden;

    // 搜索
    .ant-form {
      margin-top: 20px;
      .ant-form-item {
        margin-bottom: 10px;
      }
      .form-note {
        margin-left: 10px;
      }
    }

    // 提示
    .wealth-detail-note {
      margin-top: 20px;
    }

    // 表格
    .ant-table-wrapper {
      margin-top: 20px;

      // 上传图片组件的样式
      .upload-img {
        > div {
          margin: auto;
        }
      }

      // 表格中的图片
      .upload-img {
        > div {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
