.identity {
  .identity-note {
    p {
      margin-top: 20px;
    }
    .identity-note-status {
      font-size: 18px;
      font-weight: bold;
    }
    .identity-note-detail {
      line-height: 24px;
    }
  }

  .identity-form {
    margin-top: 40px;
    .identity-form-title {
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 16px;
    }
    .ant-form {
      width: 600px;
      margin: 20px auto;
    }
  }
}
