/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* 公共样式写在这里 */
// 公共样式
.theme {
  color: $theme;
}

.font-color {
  color: $fontColor;
}

// a标签样式
.link {
  color: $theme;
}

.theme {
  color: $theme;
}

.primary {
  color: $primary;
}

.error {
  color: $error;
}

.success {
  color: $success;
}

.warning {
  color: $warning;
}

// 按钮样式
.success-btn {
  background-color: $success !important;
  border: 1px solid $success !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 登录，注册
.login {
  width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #ddd;

  .login-title {
    font-size: 18px;
    width: 200px;
    margin: auto;
    color: $theme;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $theme;
  }

  .ant-form {
    // width: 450px;
    margin: 30px auto 0 auto;

    .ant-form-item {
      // margin-bottom: 10px;
    }

    .login-link {
      display: flex;
      justify-content: space-between;
      color: $theme;

      span {
        cursor: pointer;
      }
    }

    .ant-input-affix-wrapper {
      // margin-top: 20px;
    }
  }
}

.ant-form {
  // 表单上传文件样式
  .file-src {
    display: flex;
    > div {
      // background-color: #f00;
      width: 150px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #ddd;
      border-radius: 4px;
      position: relative;
      cursor: pointer;
      &:hover {
        // border: 1px solid #ccc;
        // opacity: 0.9;
      }
      img {
        width: 100%;
        height: 100%;
      }
      .img-alter {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
      }
      .anticon-plus {
        font-size: 22px;
        color: #999;
        display: inline-block;
        width: 100%;
        height: 100%;
        // border: 1px solid #f00;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .img-example {
      margin-top: auto;
    }
    .text-example {
      margin-top: auto;
      margin-left: 10px;
      flex: 1;
      line-height: 18px;
      font-size: 12px;
      color: #999;
    }
  }
}

// 浮层的样式
.ant-modal-root {
  .ant-modal-title {
    text-align: center;
  }

  // 添加，编辑银行卡的手机验证码样式
  .mobile-code {
    width: 150px;
    margin-right: 20px;
  }

  // 账号管理的样式
  .platform-info {
    position: relative;
    .platform-alter {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
    .platform-form {
    }
  }
}
