.user-taskdetail {
  .user-taskdetail-step {
    margin: 60px;
  }

  .taskdetail-status-note {
    margin-top: 30px;

    > p {
      text-align: center;
    }
    .note-title {
      margin-bottom: 30px;
      color: $danger;
      font-size: 20px;
    }
    .note-p {
      color: $gray;
    }
    .countdown {
      font-size: 20px;
    }

    .note-reason {
      // max-width: 530px;
      // margin: 0 auto;
      display: flex;
      justify-content: center;
      > div {
        // min-width: 300px;
        padding: 20px;
        // border: 1px dashed #ccc;
        p {
          margin-bottom: 20px;
        }
        button {
          margin-top: 20px;
        }
      }
    }
  }

  .taskdetail-info {
    margin-top: 30px;
    padding-top: 30px;
    display: flex;
    border-top: 1px solid #ddd;
    .taskdetail-info-left {
      margin: 0 40px;
      .taskdetail-img {
        text-align: center;
        &:nth-child(2) {
          margin-top: 20px;
        }
        p {
          margin-bottom: 10px;
        }
        .upload-img-file {
          width: 160px;
          height: 160px;
        }
      }
    }

    .taskdetail-info-right {
      ul {
        // display: flex;
        // flex-wrap: wrap;
        li {
          // width: 50%;
          display: flex;
          margin-top: 30px;
          align-items: center;
          &.taskdetail-status {
            > span {
              margin-right: 20px;
            }
          }
          .ant-input {
            width: 200px;
          }
          p {
            &:nth-child(1) {
              // width: 120px;
            }
            &:nth-child(2) {
              // line-height: 20px;
              flex: 1;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .taskdetail-detail {
    margin: 40px 200px 0 40px;
    border-top: 1px solid #ddd;
    .taskdetail-note {
      margin-top: 20px;
      color: $danger;
      font-size: 14px;
    }
    ul {
      li {
        // width: 50%;
        display: flex;
        margin-top: 30px;
        align-items: center;
        &.taskdetail-status {
          > span {
            margin-right: 20px;
          }
        }
        .ant-input {
          width: 300px;
        }
        p {
          &:nth-child(1) {
            // width: 120px;
          }
          &:nth-child(2) {
            // line-height: 20px;
            flex: 1;
            margin-left: 10px;
          }
        }
      }
    }
  }
}
